button,
.button {
  background: #aaa;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  outline: none;
  margin: 0;
  padding: 16px;

  &:hover,
  &:focus {
    background: #222;
    color: #fff;
  }
}

.block-list li {
  b {
    text-align: right;
    background: #aaa;
    border: none;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    outline: none;
    margin: 0;
    padding: 16px;
    width: 7em;
  }

  &:hover b {
    background: #222;
    color: #fff;
  }

  pre {
    display: inline-block;
    overflow: hidden;
    margin-left: 20px;
  }
}
